<h2>ログイン</h2>
<form id="login_form">
	<div>
	  <input class="textbox" type="text" placeholder="ユーザー名">
	</div>
	<div>
	  <input class="textbox" type="password" placeholder="パスワード">
	</div>
	<div>
	  <input class="kit-button silver" type="submit" value="ログイン">
	</div>
</form>	
